*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: green;
    justify-items: center;
    
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(198, 227, 198);
    padding: 20px;
    color: green;
}
.container {
    width: 450px;
    height: 600px;
    background-color:       white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    justify-items: center;
    opacity: 80%;
}
.input {
border: 1px solid green;
border-color: green;
height: 40px;
margin-top: 10px;
border-radius: 6px;
display: inline-block;
margin-bottom: 20px;
width: 200px;
margin-right: 1px;
padding: 10px;

}

.radio1{
padding: 10px;
border: 1px solid green;
border-radius: 6px;
position: relative;
margin: 0px;
display: inline-block;
width: 192px;
user-select: none;
justify-items: left;

}

.radio2{
padding: 10px;
border: 1px solid green;
border-radius: 6px;
position: relative;
margin:  0px;
display: inline-block;
width: 192px;
justify-items: right;

}



#email {
    display: block;
    width: 100%;
}

#message {
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 0px;
}
.message{
    text-align: start;
    margin-top: 20px;
}
#lastname {
    margin-right: 0;
}
/* radio {
    margin-top: 20px;
    display: inline-block;
    border: none;
    width: 100%;
}  */
#section1{
    display: inline-block;
    text-align: left;
    margin-top: 20px;

}  
#section2{
    text-align: left;
    display: inline-block;

}
#section3{
    width: 100%;
    text-align: start;
    
}
#section4{
    width: 100%;
    text-align: start;
    margin-top: 20px;
    
    padding: 10px;
    
}


#checkbox{
    margin-top: 20px;
    text-align: start;
    width: 100%;
}

button{
    
    background-color: green;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    color: white;
    
}

button:hover{
    background-color: darkgreen;
    cursor: pointer;
    color: #000;
}
